<h1 id="types_objects" align="center">Python Objects</h1>

Python is an object-oriented language. We now explore different types of objects, including: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (or <i>strings</i> for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

<p>The following code cells contain some examples.</p>

In [5]:
# Integer
11

11

In [6]:
# Float
2.14

2.14

In [7]:
# String
"Hello, Python 101!"

'Hello, Python 101!'

Sometimes we need to query the type of an expression at run-time. We use the built-in <code>type()</code> function . You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.

In [8]:
# Type of 12
type(12)

int

In [9]:
# Type of 2.14
type(2.14)

float

In [10]:
# Type of "Hello, Python 101!"
type("Hello, Python 101!")

str

<h1 id="types_objects" align="center">Conditions in Python</h1>

<h3 id="comp">Comparison Operators</h3>

Comparison operations compare some value or operand and, based on a condition, they produce a Boolean. When comparing two values you can use these operators:

<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

Let's assign a value of 5 to <code>a</code>. Use the equality operator denoted with two equal <b>==</b> signs to determine if two values are equal. The case below compares the variable <code>a</code> with 6.

In [11]:
# Condition Equal
a = 5   # assigns a value to the variable
a == 6  # checks if a is equal to 6

False

The result is <b>False</b>, as 5 does not equal to 6.

Consider the following equality comparison operator <code>i > 5</code>. If the value of the left operand, in this case the variable <b>i</b>, is greater than the value of the right operand, in this case 5, then the statement is <b>True</b>. Otherwise, the statement is <b>False</b>.  If <b>i</b> is equal to 6, because 6 is larger than 5, the output is <b>True</b>.

In [12]:
# Greater than Sign
i = 6 # assignment
i > 5 # verification

True

Set <code>i = 2</code>. The statement is false as 2 is not greater than 5:

In [13]:
# Greater than Sign
i = 2 # assignment
i > 5 # verification

False

The inequality test uses an exclamation mark preceding the equal sign, if two operands are not equal then the condition becomes **True**.  For example, the following condition will produce **True** as long as the value of <code>i</code> is not equal to 6:

In [14]:
# Inequality Sign
i = 2
i != 6

True

When <code>i</code> equals 6 the inequality expression produces <b>False</b>.

In [15]:
# Inequality Sign

i = 6
i != 6

False

 We can apply the same methods on strings. For example, use an equality operator on two different strings. As the strings are not equal, we get a **False**.

In [16]:
# Use Equality sign to compare the strings
"ACDC" == "Michael Jackson"

False

 If we use the inequality operator, the output is going to be **True** as the strings are not equal.

In [17]:
# Use Inequality sign to compare the strings
"ACDC" != "Michael Jackson"

True

Inequality operations are also used to compare the letters/words/symbols according to the ASCII value of letters.

For example, the ASCII code for <b>!</b> is 21, while the ASCII code for <b>+</b> is 43. Therefore <b>+</b> is larger than <b>!</b> as 43 is greater than 21.

Similarly, the value for <b>A</b> is 101, and the value for <b>B</b> is 102 therefore:

In [18]:
# Compare characters
'B' > 'A'

True

 When there are multiple letters, the first letter takes precedence in ordering:

In [19]:
# Compare characters
'BA' > 'AB'

True

<b>Note</b>: Upper Case Letters have different ASCII code than Lower Case Letters, which means the comparison between the letters in python is case-sensitive.

<h3 id="branch">Branching</h3>

 Branching allows us to run different statements for different inputs. It is helpful to think of an **if statement** as a locked room, if the statement is **True** we can enter the room and your program will run some predefined tasks, but if the statement is **False** the program will ignore the task.

For example, consider the blue rectangle representing an ACDC concert. If the individual is older than 18, they can enter the ACDC concert. If they are 18 or younger than 18 they cannot enter the concert.

Use the condition statements learned before as the conditions need to be checked in the **if statement**. The syntax is as simple as <code> if <i>condition statement</i> :</code>, which contains a word <code>if</code>, any condition statement, and a colon at the end. Start your tasks which need to be executed under this condition in a new line with an indent. The **lines of code after the colon and with an indent** will only be executed when the **if statement** is **True**. The tasks will end when the line of code does not contain the indent.

If/Eslse statements in Python are written as in the example below:

In [20]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

<h1 id="types_objects" align="center">Loops in Python</h1>

Now we will look into the loop statements in Python, including <strong>for loop</strong>, and <strong>while loop</strong>.</p>

<h2 id="loop">Loops</h2>

<h3 id="range">Range</h3>

Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by <b>loops</b>. We will look at two types of loops, <code>for</code> loops and <code>while</code> loops.

Before we discuss loops lets discuss the <code>range</code> object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate a sequence that contains three elements ordered from 0 to 2 we simply use the following command:

In [21]:
# Use the range
range(3)

range(0, 3)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/LoopsRange.png" width="300" />

<h3 id="for">What is a <code>for</code> loop?</h3>

The <code>for</code> loop enables you to execute a code block multiple times. For example, you would use this if you would like to print out every element in a list.    
Let's try to use a <code>for</code> loop to print all the years presented in the list <code>dates</code>:

This can be done as follows:

In [22]:
# For loop example
dates = [1982,1980,1973]
N = len(dates)
print("I'm going to print", N, "dates:")
for i in range(N):
    print(dates[i])

I'm going to print 3 dates:
1982
1980
1973

In this example we can print out a sequence of numbers from 0 to 7:

In [23]:
# Example of for loop
for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In Python we can directly access the elements in the list as follows:

In [24]:
# Exmaple of for loop, loop through list
for year in dates:  
    print(year)

1982
1980
1973

We can change the elements in a list:

In [28]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight

 We can access the index and the elements of a list as follows:

In [26]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']
for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

<h3 id="while">What is <code>while</code> loop?</h3>

As you can see, the <code>for</code> loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The <code>while</code> loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value.

Letâ€™s say we would like to iterate through list <code>dates</code> and stop at the year 1973, then print out the number of iterations. This can be done with the following block of code:

In [27]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.