This material has been adapted from the EuroScipy 2016 tutorial by Joris Van den Bossche<br>
Source: <a href="https://github.com/jorisvandenbossche/pandas-tutorial">https://github.com/jorisvandenbossche/pandas-tutorial</a>

<!--<img width=700px; src="../img/logoUPSayPlusCDS_990.png"> -->

<p style="margin-top: 3em; margin-bottom: 2em;"><b><big><big><big><big>What is Pandas?</big></big></big></big></b></p>

Pandas is an easy-to-use, very powerful library for data analysis. Like NumPy, it vectorises most of the basic operations and strives to excute multiple operations in parallel, even on a single CPU, resulting in faster computation.<br>
To use the pandas library and its data structures, all you have to do is to install it and import it. Refer to the documentation of the Pandas library for further details and guidance.<br>
https://pandas.pydata.org/

## Google Colab instructions to load datasets
You first need to upload your datasets into your google drive.<br>
Then mount this folder.<br> 
Finally you'll be able to import it into pandas.<br>
I've created a folder "data" under MY DRIVE --> Colab Notebooks<br>
Now you need to copy the dataset file: 
For instance: "titanic.csv"<br>

In [1]:
# Now you need to Mount your Google Drive to Collaboratory
# the first time you run the following code you need to go through some authentication steps
# You'll be asked to click on a URL, login, and then copy a special authorization code
# copy that into the notebook and you'll then be able to access your datasets
from google.colab import drive 
drive.mount('/content/gdrive')
#
# If you have already mounted gdrive, you'll get a warning 
# "Drive already mounted at /content/gdrive; to attempt to forcibly remount"
# DON'T REMOUNT, JUST CONTINUE

Mounted at /content/gdrive

In [2]:
# Now you will see your Google Drive files in the left pane (file explorer). 
# Right click on the file that you need to import and select Ã§opy path. 
# Then import as usual in pandas, using this copied path.
# You can now import your dataset
import pandas as pd 

# set local path where notebooks and data and image folders are located
path = "/content/gdrive/My Drive/DW_data/"
zoo_dataset = path + "zooanimals.data"
print(zoo_dataset)

/content/gdrive/My Drive/DW_data/zooanimals.data

#Let's start by reading a file

In [3]:

# loading a file
df=pd.read_csv(zoo_dataset)

In [4]:
df.head()

     animal  hair  feathers  eggs  milk  ...  legs  tail  domestic  catsize  type
0  aardvark     1         0     0     1  ...     4     0         0        1     1
1  antelope     1         0     0     1  ...     4     1         0        1     1
2      bass     0         0     1     0  ...     0     1         0        0     4
3      bear     1         0     0     1  ...     4     0         0        1     1
4      boar     1         0     0     1  ...     4     1         0        1     1

[5 rows x 18 columns]

Starting from reading this dataset, to answering questions about this data in a few lines of code:

**How many of these animals have hair?**

In [5]:
df['hair'].value_counts()[1]

43

#Pandas

For data-intensive work in Python the [Pandas](http://pandas.pydata.org) library has become essential.

What is `pandas`?

* Pandas can be thought of as *NumPy arrays with labels* for rows and columns, and better support for heterogeneous data types, but it's also much, much more than that.
* Pandas can also be thought of as `R`'s `data.frame` in Python.
* Powerful for working with missing data, working with time series data, for reading and writing your data, for reshaping, grouping, merging your data, ...

It's documentation: http://pandas.pydata.org/pandas-docs/stable/


### When do you need pandas?

When working with **tabular or structured data** (like R dataframe, SQL table, Excel spreadsheet, ...):

- Import data
- Clean up messy data
- Explore data, gain insight into data
- Process and prepare your data for analysis
- Analyse your data (together with scikit-learn, statsmodels, ...)

<div class="alert alert-warning">
<b>ATTENTION!</b>: <br><br>

Pandas is great for working with heterogeneous and tabular 1D/2D data, but not all types of data fit in such structures!
<ul>
<li>When working with array data (e.g. images, numerical algorithms): just stick with numpy</li>
<li>When working with multidimensional labeled data (e.g. climate data): have a look at [xarray](http://xarray.pydata.org/en/stable/)</li>
</ul>
</div>

#The pandas data structure: `DataFrame`

A `DataFrame` is a **tablular data structure** (multi-dimensional object to hold labeled data) comprised of rows and columns, akin to a spreadsheet, database table, or R's data.frame object. You can think of it as multiple Series object which share the same index.

![alt text](https://drive.google.com/uc?id=1GZ5fHDjM2zSN1cRpuX2wGKBrFUgVJAxv)

In [6]:
df

       animal  hair  feathers  eggs  milk  ...  legs  tail  domestic  catsize  type
0    aardvark     1         0     0     1  ...     4     0         0        1     1
1    antelope     1         0     0     1  ...     4     1         0        1     1
2        bass     0         0     1     0  ...     0     1         0        0     4
3        bear     1         0     0     1  ...     4     0         0        1     1
4        boar     1         0     0     1  ...     4     1         0        1     1
..        ...   ...       ...   ...   ...  ...   ...   ...       ...      ...   ...
96    wallaby     1         0     0     1  ...     2     1         0        1     1
97       wasp     1         0     1     0  ...     6     0         0        0     6
98       wolf     1         0     0     1  ...     4     1         0        1     1
99       worm     0         0     1     0  ...     0     0         0        0     7
100      wren     0         1     1     0  ...     2     1         0        0     2

[101 rows x 18 columns]

### Attributes of the DataFrame

A DataFrame has an `index` attribute and a `columns` attribute:

In [7]:
df.index

RangeIndex(start=0, stop=101, step=1)

In [8]:
df.columns

Index(['animal', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic',
       'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins',
       'legs', 'tail', 'domestic', 'catsize', 'type'],
      dtype='object')

To check the data types of the different columns:

In [9]:
df.dtypes

animal      object
hair         int64
feathers     int64
eggs         int64
milk         int64
airborne     int64
aquatic      int64
predator     int64
toothed      int64
backbone     int64
breathes     int64
venomous     int64
fins         int64
legs         int64
tail         int64
domestic     int64
catsize      int64
type         int64
dtype: object

An overview of all the above information is given by the `info()` method:

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    101 non-null    object
 1   hair      101 non-null    int64
 2   feathers  101 non-null    int64
 3   eggs      101 non-null    int64
 4   milk      101 non-null    int64
 5   airborne  101 non-null    int64
 6   aquatic   101 non-null    int64
 7   predator  101 non-null    int64
 8   toothed   101 non-null    int64
 9   backbone  101 non-null    int64
 10  breathes  101 non-null    int64
 11  venomous  101 non-null    int64
 12  fins      101 non-null    int64
 13  legs      101 non-null    int64
 14  tail      101 non-null    int64
 15  domestic  101 non-null    int64
 16  catsize   101 non-null    int64
 17  type      101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

Also a DataFrame has a `values` attribute, but attention: when you have heterogeneous data, all values will be upcasted:

In [11]:
df.values

array([['aardvark', 1, 0, ..., 0, 1, 1],
       ['antelope', 1, 0, ..., 0, 1, 1],
       ['bass', 0, 0, ..., 0, 0, 4],
       ...,
       ['wolf', 1, 0, ..., 0, 1, 1],
       ['worm', 0, 0, ..., 0, 0, 7],
       ['wren', 0, 1, ..., 0, 0, 2]], dtype=object)

### You can also create a DataFrame from a list
Apart from importing your data from an external source (text file, excel, database, ..), one of the most common ways of creating a dataframe is from a dictionary of arrays or lists.

Note that in the IPython notebook, the dataframe will display in a rich HTML view:

In [12]:
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
df_countries = pd.DataFrame(data)
df_countries

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

Fancy indexing, like indexing with a list or boolean indexing:

### There are also some Panda specific methods
For example:

In [13]:
df_countries['population'].value_counts()

81.3    1
11.3    1
16.9    1
64.3    1
64.9    1
Name: population, dtype: int64

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Which is the biggest population?</li>
</ul>
</div>

In [14]:
#write your code here

<div class="alert alert-warning">
<b>ATTENTION!</b>: <br><br>

One of pandas' basic features is the labeling of rows and columns.  <br><br> We now have to distuinguish between:

 <ul>
  <li>selection by **label**</li>
  <li>selection by **position**</li>
</ul>
</div>

### `df[]` provides some convenience shortcuts

For a DataFrame, basic indexing selects the columns.

Selecting a single column:

In [15]:
df['hair']

0      1
1      1
2      0
3      1
4      1
      ..
96     1
97     1
98     1
99     0
100    0
Name: hair, Length: 101, dtype: int64

or multiple columns:

In [16]:
df[['hair', 'feathers']]

     hair  feathers
0       1         0
1       1         0
2       0         0
3       1         0
4       1         0
..    ...       ...
96      1         0
97      1         0
98      1         0
99      0         0
100     0         1

[101 rows x 2 columns]

But, slicing accesses the rows:

In [25]:
df[10:15]

         hair  feathers  eggs  milk  ...  tail  domestic  catsize  type
animal                               ...
cheetah     1         0     0     1  ...     1         0        1     1
chicken     0         1     1     0  ...     1         1        0     2
chub        0         0     1     0  ...     1         0        0     4
clam        0         0     1     0  ...     0         0        0     7
crab        0         0     1     0  ...     0         0        0     7

[5 rows x 17 columns]

### Systematic indexing with `loc` and `iloc`

When using `[]` like above, you can only select from one axis at once **rows or columns, not both**. For more advanced indexing, you have some extra attributes:
    
* `loc`: selection by label
* `iloc`: selection by position

These methods index the different dimensions of the frame:

* `df.loc[row_indexer, column_indexer]`
* `df.iloc[row_indexer, column_indexer]`

In [28]:
df = pd.read_csv("titanic.csv")

In [29]:
df = df.set_index('Name')

In [34]:
df.loc['Bonnell, Miss. Elizabeth', 'Fare']

26.55

But the row or column indexer can also be a list, slice, boolean array, ..

In [33]:
# select a range in the rows. The : indicates that we are selecting all columns
df.loc['Bonnell, Miss. Elizabeth':'Andersson, Mr. Anders Johan', :]

                                PassengerId  Survived  ...  Cabin Embarked
Name                                                   ...
Bonnell, Miss. Elizabeth                 12         1  ...   C103        S
Saundercock, Mr. William Henry           13         0  ...    NaN        S
Andersson, Mr. Anders Johan              14         0  ...    NaN        S

[3 rows x 11 columns]

Selecting by position with `iloc` works similar as indexing numpy arrays:

In [ ]:
# selecting 1st and second rows, and 2nd and 3rd column from the whole dataset
df.iloc[0:2,1:3]

The different indexing methods can also be used **to assign data:**

In [ ]:
df.loc['Braund, Mr. Owen Harris', 'Survived'] = 100

In [ ]:
df

### Boolean indexing (filtering)

*Often*, you want to select rows based on a certain condition. This can be done with 'boolean indexing' (like a where clause in SQL) and comparable to numpy. 

The indexer (or boolean mask) should be 1-dimensional and the same length as the thing being indexed.

In [ ]:
# checking True and False values
df['Fare'] > 50

In [ ]:
# selecting only the True values
# that's all the lines where Fare is > 50
df[df['Fare'] > 50]

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Based on the zoo animals data set, select all rows of animals that have more than two legs. </li>
</ul>
</div>

In [ ]:
#write your code here

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many animals have more than two legs?</li>
</ul>
</div>

In [ ]:
#write your code here

*<p style="margin-top: 3em; margin-bottom: 2em;"><b><big><big><big><big>Multi-layer Perceptron Example</big></big></big></big></b></p>

In [ ]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(solver='sgd', alpha=1e-5,  hidden_layer_sizes=(5, 2)) #size of each hidden layer

In [ ]:
#Split the data into a training and a testing set
train_features = df.iloc[:80,1:-1]
test_features = df.iloc[80:,1:-1]
train_labels = df.iloc[:80,-1]
test_labels = df.iloc[80:,-1]

In [ ]:
test_features

In [ ]:
clf.fit(train_features, train_labels)

In [ ]:
print("The prediction accuracy is: ", clf.score(test_features,test_labels)*100,"%")

**Exercise**: Build a perceptron that takes as input the following attributes: hair, airborne, feathers, fins, legs and tail and predicts the type of animal.